.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
**/.vscode/
ES242/
ES301/

# Local History for Visual Studio Code
.history

*.exe
*.tcs
*.cpp.bin
*.sh